<div class="text-center band">
  <h1 class="main_heading">Victorian Open Data Concept Masher</h1>
</div>

<div class="dataset_row text-center">
  <div class="dataset dataset_a">
    <h2><a href="<%= @a.url %>"><%= @a.name %></a></h2>
    <p class="description"><%= @a.description %></p>
    <a class="btn btn-danger" href="<%= @a.url %>" target="_blank">Link to Dataset</a>
  </div>
  <div class="button_column">
    <a class="btn btn-danger" href="<%= root_url %>">Randomise!</a>
    <a class="btn btn-info" href="<%= @tweet_url %>" target="_blank">Tweet!</a>    
  </div>
  <div class="dataset dataset_b">
    <h2><a href="<%= @b.url %>"><%= @b.name %></a></h2>
    <p class="description"><%= @b.description %></p>
    <a class="btn btn-info" href="<%= @b.url %>" target="_blank">Link to Dataset</a>
  </div>
</div>

<div class="text-center band">
  <a class="btn btn-warning" href="https://github.com/mcraigie/open_data_concept_masher" target="_blank">View Source on Github</a>
</div>
